#home-header{
    display: flex;
    justify-content: center;
}

#home-header img{
    max-width: 30vw;
    max-height:25vh;
}

#home-o{
    box-sizing: border-box;
    padding: 10px;
}

#home{
    margin-top: 2rem;
}