#home-main h2{
    text-align: center;
    box-sizing: border-box;
}

button img{
    width: auto;
}

.pick-side-ctn{
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0,0,0,.5);
    max-width: 450px;
    border-radius: 10px;
    margin: 0 auto;
}

.pick-side-ctn h2{
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
}

.pick-side-ctn button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}



.sideSelected{
    /* box-sizing: border-box; */
    background: rgb(255,255,255,.5);
}

.pick-side{
    width: 100%;
    padding: 30px;
    justify-self: stretch;
}

.pick-side:hover{
    background-color: rgb(255,255,255,.5);
}


.home-start-btn{
    margin: 10px 0;
    padding: 20px;
    background-color: rgb(194, 80, 194);
    border: none;

    cursor: pointer;
}

.home-start-btn:hover{
    border: 1px solid white;
}

.start-btns{
    margin: 0 auto;
}

.start-btns a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.start-btns a button{
    width: 450px;
    margin: 10px auto;
    text-align: center;
}

