#board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    margin:  60px auto;
}

#board div{
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    justify-self: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board div:nth-child(1){
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
#board div:nth-child(2){
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
#board div:nth-child(3){
    border-bottom: 4px solid black;
}
#board div:nth-child(4){
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
#board div:nth-child(5){
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
#board div:nth-child(6){
    border-bottom: 4px solid black;
}
#board div:nth-child(7){
    border-right: 4px solid black;
}
#board div:nth-child(8){
    border-right: 4px solid black;
}


@media screen and (max-width: 600px) {
    #board{
        width: 100%;
        margin: 20px auto;
    }
}
    

