#end-page{
    padding: 10% 0;
    text-align: center;
    box-sizing: border-box;
    height: 500px;
    margin: 50px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.end-home-link{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    background-color: purple;
    margin: 0 auto;
    width: 50%;
    color: white;
    display: block;
}

.end-home-link:hover{
    background-color: white;
    color: purple;
    border: 1px solid purple;
}

#end-hero{
    font-size: 200px;
    
}


