#game{
    display: flex;
    justify-content: space-evenly;
    text-align: top;
}


.game-icon img{
    width: 30px;
    height: 30px;
}

.game-undo{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.game-turn p{
    text-align: center;
    margin: 0;
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    #game{
        flex-direction: column;
    }
}
    
